
/*레이아웃 잡기 시작*/

#detail_wrap{ /* 레이아웃 중앙정렬*/
    height: 120vh;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
}
.detail_box{ /* 레이아웃 중앙정렬*/
    position: absolute;
    top: 15vh;
    background: white;
    border: 3px solid #9BA2D7;
    padding: 50px;
    border-radius: 50px;
    width: 50%;
}

img{ /*표시되는 이미지 최대크기 설정*/
    max-width: 300px;
    border-radius: 10px;
}

.title_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #9BA2D7;
}

.title_box{
    display: flex;
    flex-direction: row;
}

#back_btn{
    color: #9BA2D7;
}

.btn_box{
    position: relative;
    top: 30px;
    right: 20px;
}


/* 스크롤바 시작 */
.scrollBar {
    padding: 30px;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}
.scrollBar::-webkit-scrollbar {
    /* 스크롤바의 너비 */
    width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
    /* 스크롤바의 길이 */
    height: 30%;
    /* 스크롤바의 색상 */
    background: rgba(182,190,237,0.5);
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    /*스크롤바 뒷 배경 색상*/
    background: rgba(215,221,247,0.6);
    border-radius: 50px;
    margin: 10px 0;
}

/* 스크롤바 끝 */

#edit_btn{
    margin-right: 10px;
}

.info_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_box{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#profile_img{
    background-color: whitesmoke;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 20px;
    overflow: hidden;
}

#profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_box>h4{
    font-size: 1.2rem;
    margin: 24px 0 0 0;
}

.chat_box{
    display: flex;
    position: relative;
}
.chat_box h4{
    position: absolute;
    bottom: 45px;
}

.content_section{
    padding: 30px;
    background: #D7DDF7;
    border-radius: 10px 60px 60px 60px;
    width: 75%;
    margin: 0 20px 40px 60px;
    font-size: 1.5rem;
}


#rep_box{
    background: #9BA2D7;
    border-radius: 60px 60px 10px 60px;
    width: 80%;
    margin-left: 60px;
    position: relative;
    left: 20px;
}
#rep_box h4{
    padding: 30px;
    font-size: 1.5rem;
    font-weight: normal;
}

#rep_input_box{
    width: 90%;
    margin: 0 auto;
}

#rep_input_box>div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/*레이아웃 잡기 끝*/


/*필드 디자인 시작 - 폰트사이즈, 색상*/

.title_box a h1{
    font-size: 2rem;
    margin-right: 10px;
}

#field1{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 30px;

    font-weight: normal;
    font-size: 1.5rem;
}
.cate_col1{
    background-color: #B6E3E9;
}
.cate_col2{
    background-color: #FADEE1;
}

.cate_col3{
    background-color: #FAF1D6;
}

.cate_col4{
    background-color: #D9F1F1;
}


#field2{
    font-size: 2rem;
}

#rep_input_box textarea{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #9BA2D7;
    resize: none;
    font-size: 1.2rem;
    overflow: hidden;
}

#rep_input_box textarea:focus{
    outline: none;
}

#rep_btn{
    padding: 10px;
    background: #9BA2D7;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
    border: none;
}


/*필드 디자인 끝 - 폰트사이즈, 색상*/