/*보드 시작*/

#qna_wrap, #notice_wrap{
    background-image: url("../../img/infoboard/mycat_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.board_box{
    margin: 0 auto;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.board{
    background-color: white;
    border: 3px solid #ADBDFA;
    border-radius: 50px;
    padding: 30px 50px;
    min-width: 360px;
    overflow: hidden;
    min-height: 500px;
    position: relative;
    top: 20vh;
}

.board ul li{
    padding: 10px;
}

.board_box ul{
    list-style: none;
    justify-content: space-evenly;
    margin: 20px 0;
    font-size: 1.2rem;
}

.board_box ul li{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.board_title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.info_msg{
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 12vh;
    color: grey;
}

/*보드 끝*/

/* 검색창 시작*/
input, select{
    border: 2px solid #ADBDFA;
}
input:focus, select:focus{
    outline: none;
}

#search_box{
    text-align: center;
}

#search_box input{
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 1.3rem;
}


#search_box select{
    text-align: center;
    text-align-last: center;
    position: relative;
    color: #ADBDFA;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 4px 10px 10px 10px;
    border-radius: 20px;
}

#searchtxt{
    width: 30%;
    min-width: 100px;
}


/* 검색창 끝*/


/* 글쓰기 버튼 시작*/
#write_btn{
    background-color: #ADBDFA;
    color: white;
    border-radius: 15px;
    padding: 9px 10px;
    position: relative;
    left: 87%;
    font-size: 1.3rem;
}
#write_btn:hover{
    background-color: #C0D4FF;
}
#write_icon{
    width: 21px;
    position: relative;
    top: 6px;
    margin-right: 2px;
}
/* 글쓰기 버튼 끝*/


/*보드 필드 시작*/
.content1{
    flex-basis: 5%;
    text-align: center;
    min-width: 25px;
}
.content2{
    flex-basis: 15%;
    text-align: center;
    min-width: 75px;
}
.content3{
    flex-basis: 45%;
    text-align: center;
    min-width: 100px;
}
.content3_1{
    flex-basis: 45%;
    text-align: left;
    min-width: 100px;
}
.content3_1 p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.content4{
    flex-basis: 20%;
    text-align: center;
    min-width: 100px;
}
.content5{
    flex-basis: 12%;
    text-align: center;
    min-width: 60px;
}

/*보드 필드 끝*/

/*페이지 박스 시작*/
#page_box{
    text-align: center;
    margin: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom: 10vh;
    margin: 0 auto;
    width: 100%;
}

#page_box a{
    color: white;
    margin-right: 10px;
}
.selected_page{
    color: #5A5A5A;
    margin-right: 10px;
}
/*페이지 박스 끝*/

footer{
    background: #ADBFFA;
    color: white;
}