
/*레이아웃 잡기 시작*/

#detail_wrap{ /* 레이아웃 중앙정렬*/
    height: 120vh;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;
}
.detail_box{ /* 레이아웃 중앙정렬*/
    position: absolute;
    top: 15vh;
    background: white;
    border: 3px solid mediumpurple;
    padding: 50px;
    border-radius: 25px;
    width: 70%;
}

img{ /*표시되는 이미지 최대크기 설정*/
    max-width: 300px;
    border-radius: 10px;
}

.title_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid mediumpurple;
}

.title_box{
    display: flex;
    flex-direction: row;

}

.btn_box{
    position: relative;
    top: 30px;
}

#edit_btn{
    margin-right: 10px;
}

.info_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile_box{
    display: flex;
    flex-direction: row;
}

#profile_img{
    background-color: #0056b3;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 20px;
    overflow: hidden;
}

#profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_box>h4{
    font-size: 1.2rem;
    margin: 24px 0 0 0;
}

.chat_box{
    display: flex;
    position: relative;
}
.chat_box h4{
    position: absolute;
    bottom: 45px;
}

.content_section{
    padding: 30px;
    background: aqua;
    border-radius: 10px 60px 60px 60px;
    width: 75%;
    margin: 0 0 40px 60px;
    font-size: 1.5rem;
}


#rep_box{
    background: #9BA2D7;
    border-radius: 60px 60px 10px 60px;
    width: 80%;
    margin-left: 60px;
    position: relative;
    left: 20px;
}
#rep_box h4{
    padding: 30px;
    font-size: 1.5rem;
    font-weight: normal;
}

#rep_input_box{
    width: 75%;
    margin: 0 auto;
}

#rep_input_box>div{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

/*레이아웃 잡기 끝*/


/*필드 디자인 시작 - 폰트사이즈, 색상*/

.title_box a h1{
    font-size: 2rem;
    margin-right: 10px;
}

#field1{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 30px;

    font-weight: normal;
    font-size: 1.5rem;
}
.cate_col1{
    background-color: lightblue;
}
.cate_col2{
    background-color: lightpink;
}

.cate_col3{
    background-color: lightyellow;
}

.cate_col4{
    background-color: lightgrey;
}


#field2{
    font-size: 2rem;
}

#rep_input_box textarea{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid blueviolet;
    resize: none;
    font-size: 1.2rem;
}

#rep_input_box textarea:focus{
    outline: none;
}

#rep_btn{
    padding: 10px;
    background: #0056b3;
    font-size: 1.2rem;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
    border: none;
}


/*필드 디자인 끝 - 폰트사이즈, 색상*/