<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index/index.css}">

</head>
<body>
<div id="wrap">

    <div id="main1">

        <section id="text_box">
            <h5>자녀를 위한 학부모 커뮤니티</h5>
            <h1>우리 아이 소식</h1>
            <h1>캐치업에서!</h1>
            <h6><a href="#main2">더 알아보기 ></a></h6>
        </section>

        <img id="window" src="/img/index/window.png">
        <img id="cat" src="/img/index/cat.gif">
    </div>

    <div id="main2">
        <div id="line"></div>

        <div id="ball_box">
            <img id="ball" src="/img/index/ball.png">
        </div>

        <section class="section_box">
            <div class="ad_container">
                <h1>내 아이의 하루를 담다</h1>
                <h1>부모의 하루를 열다</h1>
            </div>
        </section>


        <div class="section_box">
            <div class="add_box">
                <div class="ad_player">
                    <iframe width="100%" height="100%"
                            src="https://www.youtube.com/embed/es4w_8W36Rc?si=g8YPrXQzC1YDbXLz&autoplay=1&mute=1&loop=1&playlist=es4w_8W36Rc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>



        <div id="deco_box">

            <!--Waves Container-->
            <div>
                <svg class="waves, bottom_deco" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(197, 197, 255, 0.7)" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(164, 164, 247, 0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 255, 255, 0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#B1C0F9" />
                    </g>
                </svg>
            </div>
        </div>

    </div>

    <div id="main3">

        <div class="section_box">
            <section class="left_section">
                <h2>학교 소식</h2>
                <h1>우리 아이 오늘 뭐 먹지?</h1>
                <h3>자녀가 다니는 학교를 설정하면<br>급식정보를 확인할 수 있어요</h3>
                <img id="img1" src="/img/index/eating_cat.gif">
            </section>
        </div>

        <div class="section_box">
            <div class="right_section">
                <div class="img_box">
                    <div>
                        <img class="intro_img" th:src="@{/img/index/intro1.png}">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="main4">
        <div class="section_box">
            <div class="right_section">
                <div class="img_box">
                    <div>
                        <img class="intro_img" th:src="@{/img/index/intro2.png}">
                    </div>
                </div>
            </div>
        </div>


        <div class="section_box">
            <section class="left_section">
                <h2>교육 정보</h2>
                <h1>손 쉽게 찾는 교육 정보!</h1>
                <h3>다른 학부모들과 경험을 공유하며<br>유용한 정보를 찾아볼 수 있어요</h3>
                <img id="img2" src="/img/index/cat_hand.gif">
            </section>
        </div>



    </div>

    <div id="main5">
        <div class="section_box">
            <div class="left_section">
                <h2>일상 소통</h2>
                <h1>학부모들의 밀크티 타임</h1>
                <h3>일상 뿐만 아니라 교육법, 진로 등<br>다양한 고민을 나눌 수 있어요</h3>
                <img id="img3" src="/img/index/playing_cat.gif">
            </div>
        </div>

        <div class="section_box">
            <div class="right_section">
                <div class="img_box">
                    <div>
                        <img class="intro_img" th:src="@{/img/index/intro3.png}">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="main6">
        <img class="top_deco" src="/img/index/wave_deco1.png">

        <section class="section_box">
            <div id="text_box2">
                <h1>교육 정보를 한 손에</h1>
                <h1>CATCH UP!</h1>
            </div>
        </section>

        <img id="paws_bg" th:src="@{/img/index/paws_group.png}">

        <div id="board_kind_box">
            <div class="section_box">
                <div id="col1_box">
                    <div class="board_kind">
                        <a th:href="@{/eduboard}">
                            <img class="board_intro" th:src="@{/img/index/board1.png}">
                        </a>
                    </div>
                    <div class="board_kind">
                        <a th:href="@{/eduboard}">
                            <img class="board_intro" th:src="@{/img/index/board2.png}">
                        </a>
                    </div>
                </div>
            </div>

            <div class="section_box">
                <div id="col2_box">
                    <div class="board_kind">
                        <a th:href="@{/comboard}">
                            <img class="board_intro" th:src="@{/img/index/board3.png}">
                        </a>
                    </div>
                    <div class="board_kind">
                        <a th:href="@{/comboard}">
                            <img class="board_intro" th:src="@{/img/index/board4.png}">
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <div id="foot_deco">
            <div id="foot_box">
                <div>
                    <img class="cat_foot" id="foot1" src="/img/index/cat_foot_1.png" alt="고양이 발1">
                </div>

                <div>
                    <img class="cat_foot" id="foot2" src="/img/index/cat_foot_2.png" alt="고양이 발2">
                </div>

                <div>
                    <img class="cat_foot" id="foot3" src="/img/index/cat_foot_3.png" alt="고양이 발3">
                </div>

                <div>
                    <img class="cat_foot" id="foot4" src="/img/index/cat_foot_4.png" alt="고양이 발4">
                </div>

            </div>
        </div>


        <img class="bottom_deco" src="/img/index/wave_deco2.png">
    </div>

</div>
</body>
</html>