<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index/index.css}">

</head>
<body>
<div id="wrap">

    <div id="main1">

        <section id="text_box">
            <h5>학부모 커뮤니티 웹사이트</h5>
            <h1>우리 아이 소식</h1>
            <h1>캐치업에서!</h1>
            <h6>더 알아보기 ></h6>
        </section>

        <img id="window" src="/img/index/window.png">
        <img id="cat" src="/img/index/cat.gif">
    </div>

    <div id="main2">
        <div id="line"></div>
        <div id="ball_box">
            <img id="ball" src="/img/index/ball.png">
        </div>
    </div>

    <div id="main3">
        <img class="top_deco" src="/img/index/wave_deco1.png">
        <img class="bottom_deco" src="/img/index/wave_deco2.png">
    </div>

</div>
</body>
</html>