<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/myboard.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/modal.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/admin.css}">
    <script defer th:src="@{/js/mypage/modal.js}"></script>
    <script>
        function delConfirm(event) {
            if (!confirm('정말 삭제하겠습니까?')) {
                event.preventDefault();
            }
        }
    </script>
<body>
<div id="mypage-main" class="mypage-board">
    <article id="profile_top">
        <img id="modalOpenButton" class="top-profile" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
        <p id="top-nickname" th:text="${result.nickname}"></p>
    </article>
    <div id="container">
        <nav>
            <ul>
                <li><a th:href="@{/mypage/home}">마이홈</a></li>
                <li th:if="${uid == 100}"> <!-- 관리자만 보이는 화면 -->
                    <a th:href="@{/mypage/admin}"> 회원 관리</a>
                </li>
                <li><a th:href="@{/mypage/info}">정보수정</a></li>
                <li><a th:href="@{/mypage/wlist}">작성 글 보기</a></li>
                <li><a th:href="@{/mypage/rlist}">작성 댓글 보기</a></li>
            </ul>
        </nav>

        <article id="content">

            <!-- 회원검색 -->

            <form method="get" th:action="@{/mypage/admin}">
                <div class="userlist">
                <p>회원 목록</p>

                <div class="usersearch">
                    <select name="search">
                        <option value="id">아이디</option>
                        <option value="name">이름</option>
                    </select>
                    <input type="text" name="searchtxt">
                    <button type="submit">검색</button>
                </div>
                </div>
            </form>

            <!-- 회원리스트 -->
            <div class="zzin_list"></div>
            <table>
                <thead>
                    <tr class="usertitle">
                        <th>아이디</th>
                        <th>이름</th>
                        <th>나가</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block class="userlist">
                        <tr th:each="i:${userlist}">
                            <td th:text="${i.id}"></td>
                            <td th:text="${i.name}"></td>
                            <td><a th:href="@{'/mypage/del/' + ${i.uid}}" th:text="나가" onclick="delConfirm(event)"></a></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <!-- 페이징 -->
            <div class="page">
                <th:block th:if="${startPage>1}">
                    <a th:href="@{/mypage/admin(page=${startPage}-1,search=${search},searchtxt=${searchtxt})}" th:text="이전"></a>
                </th:block>

                <th:block th:if="${startPage<=endPage}">
                    <th:block th:each="index:${#numbers.sequence(startPage, endPage)}">
                        <span th:if="${index == userlist.pageable.getPageNumber()+1}" th:text="${index}"></span>
                        <span th:if="${index != userlist.pageable.getPageNumber()+1}">
                <a th:href="@{/mypage/admin(page=${index},search=${search},searchtxt=${searchtxt})}" th:text="${index}"></a>
            </span>
                    </th:block>
                </th:block>

                <th:block th:if="${endPage < userlist.getTotalPages()}">
                    <a th:href="@{/mypage/admin(page=${endPage}+1,search=${search},searchtxt=${searchtxt})}" th:text="다음"></a>
                </th:block>
            </div>

        </article>
    </div>

    <!-- 모달창 -->
    <div id="modalContainer" class="hidden">
        <div id="modalContent">
            <form>
                <ul>
                    <li class="modal-li-1">
                        <h2>프로필 이미지 변경하기</h2>
                        <p class="modalClose">X</p>
                    </li>
                    <li class="modal-li-2">
                        <p> 나를 소개하는 이미지를 넣어주세요. </p>
                    </li>
                    <li class="modal-li-3">
                        <!-- 임시로 넣어둠 -->
                        <img id="modal-img" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
                    </li>
                    <li class="modal-li-4"> <!--일단 닉네임 성공시키고 하기 => s3 연동해서... 가능? ㅎ-->
                        <label th:for="profile">이미지</label>
                        <input type="file" th:id="profile" th:name="profile">
                    </li>
                    <!--<li class="modal-li-4">
                        <label for="profile">이미지</label>
                        <input type="file" id="profile" name="profile">
                    </li>-->
                    <li class="modal-li-5">
                        <label th:for="nickname">닉네임</label>
                        <input type="text" th:id="nickname" th:name="nickname" th:value="${result.nickname}">
                    </li>
                    <li class="modal-li-6">
                        <button type="submit" id="submit"> 저장하기 </button>
                        <button type="reset"> 취소하기 </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>