<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypage/modal.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/home.css}">
    <script defer th:src="@{/js/mypage/modal.js}"></script>
<!--<script defer th:src="@{/js/mypage/school.js}"></script>-->
</head>
<body>

    <div id="mypage-main" class="mymain">
        <article id="profile_top">
            <img id="modalOpenButton" class="top-profile" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
            <p id="top-nickname" th:text="${result.nickname}"></p>
        </article>
        <div id="container">
            <nav>
                <ul>
                    <li><a th:href="@{/mypage/home}">마이홈</a></li>
                    <li th:if="${uid == 100}"> <!-- 관리자만 보이는 화면 -->
                        <p th:href="@{/mypage/dd}"> 회원 관리</p></li>
                    </li>
                    <li><a th:href="@{/mypage/info}">정보수정</a></li>
                    <li><a th:href="@{/mypage/wlist}">작성 글 보기</a></li>
                    <li><a th:href="@{/mypage/rlist}">작성 댓글 보기</a></li>
                </ul>
            </nav>

            <article id="content">
                <div class="article-1 article-2-content">
                    <p class="bap-p"> 급식 확인하기 </p>
                    <div class="bap-article-content ">
                        <div class="bap-content">
                            <!-- 급식 정보 없는 애들 -->
                            <th:block th:if="${bap.sidoCode == null}">
                                급식 정보를 등록해 주세요.
                            </th:block>

                            <!-- 급식 정보 있는 애들 => 급식 정보 뜸 -->
                            <th:block th:if="${bap.sidoCode != null}">
                                <div class="bap-list-div">
                                    <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}"> </span>
                                    <span class="school_name" th:text="${bap.schoolName}"></span>
                                </div>
                                <span class="today-bap-p">오늘의 급식</span>
                                <div id="today-bap">
                                    <!-- ajax이 알아서 해 줄 거야 >< -->
                                </div>

                                <p id="school_change">학교 변경하기</p>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="article-2">
                    <section class="fav article-2-content">
                        <p> 좋아요 </p>
                        <div class="article-content article-content-2">
                            <ul>
                                <li class="qna-menu">
                                    <span class="qna-content"> 번호 </span>
                                    <span class="qna-content">제목</span>
                                    <span class="qna-content">카테고리</span>
                                </li>
                                <li th:each="item, stat : ${love}" class="qna-list">
                                    <span class="qna-content" th:text="${stat.count}"></span>
                                    <span class="nowrap" th:text="${item.title}"></span>
                                    <span class="qna-content yes" th:text="${item.cate}"></span>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="qna article-2-content">
                        <p> 문의내역 </p>
                        <div class="article-content article-content-2">
                            <ul>
                                <li class="qna-menu">
                                    <span class="qna-content">번호</span>
                                    <span class="qna-content">제목</span>
                                    <span class="qna-content">처리여부</span>
                                </li>

                                <li th:each="item, stat :${qna}" class="qna-list">
                                    <!-- 구현할까 말까 => 답변 완료 안 뜬 애들은 밑으로 밀어버리고 안 된 애들만 상위에 뜨기 -->
                                    <span class="qna-content" th:text="${stat.count}"> </span>
                                    <span class="qna-content nowrap">
                                        <a th:text="${item.title}" th:href="@{|/qnaDetail/${item.iid}|}"></a>
                                    </span>
                                    <span class="qna-content yes" th:if="${item.repContent != null and !item.repContent.isEmpty()}" th:text="답변완료"></span>
                                    <span class="qna-content no" th:unless="${item.repContent != null and !item.repContent.isEmpty()}" th:text="미답변"></span>

                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </article>
        </div>
    </div>


    <!-- 모달창 -->
    <div id="modalContainer" class="hidden">
        <div id="modalContent">
            <form>
                <ul>
                    <li class="modal-li-1">
                        <h2>프로필 이미지 변경하기</h2>
                        <p class="modalClose">X</p>
                    </li>
                    <li class="modal-li-2">
                        <p> 나를 소개하는 이미지를 넣어주세요. </p>
                    </li>
                    <li class="modal-li-3">
                        <!-- 임시로 넣어둠 -->
                        <img id="modal-img" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
                    </li>
                    <li class="modal-li-4"> <!--일단 닉네임 성공시키고 하기 => s3 연동해서... 가능? ㅎ-->
                        <label th:for="profile">이미지</label>
                        <input type="file" th:id="profile" th:name="profile">
                    </li>
                    <li class="modal-li-5">
                        <label th:for="nickname">닉네임</label>
                        <input type="text" th:id="nickname" th:name="nickname" th:value="${result.nickname}" >
                    </li>
                    <li class="modal-li-6">
                        <button type="submit" id="submit"> 저장하기 </button>
                        <button type="reset"> 취소하기 </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div id="school-modal" class="hidden">
        <div id="school-controller">
            <p>사는 지역 확인해 주세요. (세종시 분리), 최대 다섯 개까지 뜹니다... </p>

            <select name="sido" id="sido">
                <option value="J10">경기도</option>
                <option value="B10">서울특별시</option>
                <option value="E10">인천광역시</option>
                <option value="C10">부산광역시</option>
                <option value="D10">대구광역시</option>
                <option value="F10">광주광역시</option>
                <option value="G10">대전광역시</option>
                <option value="H10">울산광역시</option>
                <option value="I10">세종시</option>
                <option value="K10">강원도</option>
                <option value="M10">충청북도</option>
                <option value="N10">충청남도</option>
                <option value="P10">전라북도</option>
                <option value="Q10">전라남도</option>
                <option value="R10">경상북도</option>
                <option value="S10">경상남도</option>
                <option value="T10">제주도</option>
                <option value="V10">기타</option>
            </select>
            <input id="schoolInput" type="text" data-cate="high" onkeyup="search(this)" placeholder="학교를 입력하세요">
            <ul id="schoolList"></ul>
            <button id="schoolResult" type="submit">학교 등록하기</button>

        </div>
    </div>

    <script th:inline="javascript">
        "use strict";
        /** 학교 검색하기 */
        let school_name = document.getElementById('schoolList');
        let school_input = document.getElementById('schoolInput');

        let SDSCHULCODE = ''; // 학교코드 정보 담아오기

        let sido = '';
        let sido_result = document.getElementById('sido');

        // 옵션 변경 이벤트 리스너 추가
        sido_result.addEventListener('change', function() {
            sido = this.value;
        });


        function search(target) {
            // console.log(target, ">>>>>>>>> target");
            let school = target.value
            console.log(school, ">>>>>> school");

            fetch("https://open.neis.go.kr/hub/schoolInfo??KEY=7578fdd86a164ce4b0eebabfdbf51a5&Type=json&pIndex=1&pSize=100&ATPT_OFCDC_SC_CODE=" + sido +"&SCHUL_NM=" + school)
                .then(response => {
                    if (response.status == 200) {
                        console.log('호출완료');
                        return response.json(); // 응답을 JSON 형식으로 파싱
                    } else if (response.status == 403) {
                        console.log("403 에러 발생");
                        return response.json();
                    }
                }).then(data => {
                console.log(data, ">>> data")
                school_name.innerHTML = ''; // 이게 있어야지 검색 결과 초기화 됨

                let SCHULNM = data.schoolInfo[1].row.map(school => school.SCHUL_NM); // 학교 이름 뽑아오기
                console.log(SCHULNM, ">> SCHULNM");

                SCHULNM.forEach((a) => {
                    console.log(a)
                    let school_li= document.createElement('li');
                    school_li.innerText = a;
                    school_li.style.cursor = 'pointer'

                    school_name.appendChild(school_li);

                    // 클릭하면 input 창에 뜨도록 하기
                    school_li.addEventListener('click', function () {
                        school_input.value = a;
                        console.log(school_input, " >> html school_input ")
                        console.log(school_input.value, " >> input schoolvalue");

                        SDSCHULCODE = data.schoolInfo[1].row.map(school => school.SD_SCHUL_CODE);
                        console.log(SDSCHULCODE, "............ top_SDSCHULCODE ");
                    })
                })
            }).catch(error => {
                console.error('Error:', error);
            });
        }


        /** 검색한 값 DB에 넘겨서 저장하기 => 저장해야 하는 것 1. 시도교육청코드(ATPT_OFCDC_SC_CODE) 2. 행정표준코드(SD_SCHUL_CODE) */
            // 급식일자는 무조건 오늘 날짜로 설정함 (주말이어도 일단 해) => MLSV_YMD
            // 시간 남으면 토, 일요일일 경우 월요일로 넘겨주는 작업 진행하기

        let schoolResult = document.getElementById('schoolResult');
        schoolResult.onclick = function uploadSchool() {

            // 시도 결과 받아오기
            let sido_search = sido_result.options[sido_result.selectedIndex].value;
            let school = school_input.value;

            console.log(school_input, "upload, school_input")
            search(school_input);

            console.log(SDSCHULCODE[0], " !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! sdcode");

            let schoolData ={}
            if(Array.isArray(SDSCHULCODE)) {
                schoolData={
                    schoolName: school,
                    sidoCode : sido_search,
                    sdschulCode : SDSCHULCODE[0]
                };
            }else{
                schoolData={
                    schoolName: school,
                    sidoCode : sido_search,
                    sdschulCode : SDSCHULCODE
                };
            }

            console.log(schoolData , "---------------- data");

            fetch("/api", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    'Accept': 'application/json'
                },
                body: JSON.stringify(schoolData)
            })
                .then(response => {
                    if (response.status == 200) {
                        console.log('호출완료');
                        return response.json(); // 응답을 JSON 형식으로 파싱
                    } else if (response.status == 403) {
                        console.log("403 에러 발생");
                        return response.json();
                    }
                })
        }

        // 오늘 날짜 출력하기
        function getToday(){
            let date = new Date();
            let year = date.getFullYear();
            let month = ("0" + (1 + date.getMonth())).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);
            return year + month + day;
        }



        let bap_SDCode = [[${bap.sdschulCode}]];
        let bap_sidocode = [[${bap.sidoCode}]];

        console.log(bap_SDCode)
        console.log(bap_sidocode)


        /** 급식 불러오기 */
        fetch("https://open.neis.go.kr/hub/mealServiceDietInfo?KEY=7578fdd86a164ce4b0eebabfdbf51a5f&Type=json&pIndex=1&pSize=100&ATPT_OFCDC_SC_CODE=" + bap_sidocode + "&SD_SCHUL_CODE=" + bap_SDCode + "&MLSV_YMD=" + getToday())
            .then(response => {
                if (response.status == 200) {
                    console.log('호출완료');
                    return response.json(); // 응답을 JSON 형식으로 파싱
                } else if (response.status == 403) {
                    console.log("403 에러 발생");
                    return response.json();
                }
            }).then(data => {
            console.log(data, ">>> data")

            let today_bap = document.getElementById('today-bap'); // 최상단 div

            const meals = data.mealServiceDietInfo[1].row;

            let lunch = "";

            meals.forEach(meal => {
                let mealType = meal.MMEAL_SC_NM; // 조식, 중식, 석식 구분

                // 메뉴에서 괄호 안의 내용과 숫자 및 마침표 제거
                let menuItems = meal.DDISH_NM.replace(/\([^)]*\)|\d+\.*\d*|\./g, '');


                // 각 구분에 맞게 변수에 추가
                if (mealType === "중식") {
                    lunch += menuItems + " ";
                }
            });

            // 화면에 출력할 부분
            let menuText = `
                         <br/> ${lunch}<br/>`;

            //<석식 메뉴> <br/> ${dinner

            // HTML에 추가
            let menuDiv = document.createElement('div');
            menuDiv.className = 'school_food_result'

            let p = document.createElement('p');
            let textp = menuDiv.appendChild(p);
            textp.innerHTML = menuText;
            today_bap.appendChild(menuDiv);

        }).catch(error => {
            console.error('Error:', error);
        });
    </script>


</body>
</html>