<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/modal.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/info.css}">
    <script defer th:src="@{/js/mypage/modal.js}"></script>

</head>
<body>
<div id="mypage-main">
    <article id="profile_top">
        <img id="modalOpenButton" class="top-profile" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
        <p id="top-nickname" th:text="${result.nickname}"></p>
    </article>
    <div id="container">
        <nav>
            <ul>
                <li><a th:href="@{/mypage/home}">마이홈</a></li>
                <li th:if="${uid == 100}"> <!-- 관리자만 보이는 화면 -->
                    <a th:href="@{/mypage/admin}" class="nowpage"> 회원 관리</a>
                </li>
                <li><a th:href="@{/mypage/info}">정보수정</a></li>
                <li><a th:href="@{/mypage/wlist}">작성 글 보기</a></li>
                <li><a th:href="@{/mypage/rlist}">작성 댓글 보기</a></li>
            </ul>
        </nav>
        <article id="content">
            <div class="join_wrap">
                <form method="post" th:action="@{/mypage/info}" th:object="${dto}">
                    <ul>
                        <li class="id_info info_board">
                            <label class="join_title">아이디</label>
                            <input type="text" th:value="${dto.id}" class="join_input" name="id" readonly>
                        </li>

                        <li class="pass_info info_board">
                            <label for="password" class="join_title">비밀번호</label>
                            <input type="password" id="password" th:field="*{password}" name="password" class="join_input" placeholder="영문 대or소문자, 숫자, 특수문자 6~12자">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
                        </li>

                        <li class="pass_info info_board">
                            <label for="passwordCk" class="join_title">비밀번호 확인</label>
                            <input type="password" id="passwordCk" onkeyup="passConfirm()" class="join_input">
                            <span id="confirmMsg"></span>
                        </li>

                        <li class="nick_info info_board">
                            <label for="nickname" class="join_title">닉네임</label>
                            <span><input type="text" id="nickname" th:field="*{nickname}" class="join_input"></span>
                            <span><th:block th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></th:block></span>
                        </li>

                        <li class="name_info info_board">
                            <label for="name" class="join_title">이름</label>
                            <span><input type="text" id="name" th:field="*{name}" class="join_input"></span>
                            <span><th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></th:block></span>
                        </li>

                        <li class="phone_info info_board">
                            <label for="phone" class="join_title">전화번호</label>
                            <span><input type="text" id="phone" th:field="*{phone}" class="join_input" placeholder="- 를 빼고 작성하세요"></span>
                            <span><th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></th:block></span>
                        </li>

                        <li class="join_box info_board">
                            <label class="addr join_title">주소</label>
                            <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기" class="find_post not_input">
                            <div id="info-addr">
                                <!-- 아래 있는 거 풀어도 되는 건가...? ㅋㅋ -->
                                <div class="juso_input">
                                    <input type="text" id="sample6_postcode" name="addr" placeholder="우편번호" class="juso_input1 join_input"><br>
                                </div>
                                <input type="text" id="sample6_address" name="addr" th:value="${dto.addr}" placeholder="주소" class="juso_input2 join_input"><br>
                                <div class="juso_input3">
                                    <input type="text" id="sample6_detailAddress" name="addr" placeholder="상세주소" class="juso_input33 join_input">
                                    <input type="text" id="sample6_extraAddress" name="addr" placeholder="참고항목" class="juso_input33 join_input">
                                </div>
                            </div>

                        </li>
                        <li>
                            <input type="submit" class="join_btn" value="수정하기">
                        </li>
                    </ul>
                </form>
            </div>
        </article>
    </div>
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>


    <!-- 모달창 -->
    <div id="modalContainer" class="hidden">
        <div id="modalContent">
            <form>
                <ul>
                    <li class="modal-li-1">
                        <h2>프로필 이미지 변경하기</h2>
                        <p class="modalClose">X</p>
                    </li>
                    <li class="modal-li-2">
                        <p> 나를 소개하는 이미지를 넣어주세요. </p>
                    </li>
                    <li class="modal-li-3">
                        <!-- 임시로 넣어둠 -->
                        <img id="modal-img" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
                    </li>
                    <li class="modal-li-4"> <!--일단 닉네임 성공시키고 하기 => s3 연동해서... 가능? ㅎ-->
                        <label th:for="profile">이미지</label>
                        <input type="file" th:id="profile" th:name="profile">
                    </li>
                    <!--<li class="modal-li-4">
                        <label for="profile">이미지</label>
                        <input type="file" id="profile" name="profile">
                    </li>-->
                    <li class="modal-li-5">
                        <label th:for="nickname">닉네임</label>
                        <input type="text" th:id="nickname" th:name="nickname" th:value="${result.nickname}">
                    </li>
                    <li class="modal-li-6">
                        <button type="submit" id="submit"> 저장하기 </button>
                        <button type="reset"> 취소하기 </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }


    function passConfirm() {
        /* 비밀번호, 비밀번호 확인 입력창에 입력된 값을 비교해서 같다면 비밀번호 일치, 그렇지 않으면 불일치 라는 텍스트 출력.*/
        let password = document.getElementById('password'); // 비밀번호
        let passwordCk = document.getElementById('passwordCk'); // 비밀번호 확인
        let confirmMsg = document.getElementById('confirmMsg'); // 확인 메세지

        if (password.value == passwordCk.value) { // password 변수의 값과 passwordConfirm 변수의 값과 동일하다.
            confirmMsg.style.color = "green"; // span 태그의 ID(confirmMsg) 사용
            confirmMsg.innerHTML = "비밀번호 일치"; // innerHTML : HTML 내부에 추가적인 내용을 넣을 때 사용하는 것

            document.querySelectorAll('.join_btn')[0].disabled = false; // 가입하기 버튼 활성화

        } else {
            confirmMsg.style.color = "red";
            confirmMsg.innerHTML = "비밀번호 불일치";

            document.querySelectorAll('.join_btn')[0].disabled = true; // 가입하기 버튼 비활성화
        }
    }

    // passConfirm 함수를 비밀번호 확인 입력창에 연결 - 이거 없으면 확인 안해도 그냥 가입됨
    document.getElementById('passwordCk').onkeyup = passConfirm;
    document.getElementById('password').onkeyup = passConfirm;
</script>
</body>
</html>
