<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/modal.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/repboard.css}">
    <script defer th:src="@{/js/mypage/modal.js}"></script>
    <script defer th:src="@{/js/mypage/repboard.js}"></script>
</head>
<body>
    <div id="mypage-main">
        <article id="profile_top">
            <img id="modalOpenButton" class="top-profile" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
            <p id="top-nickname" th:text="${result.nickname}"></p>
        </article>
        <div id="container">
            <nav>
                <ul>
                    <li><a th:href="@{/mypage/home}">마이홈</a></li>
                    <li th:if="${uid == 100}"> <!-- 관리자만 보이는 화면 -->
                        <a th:href="@{/mypage/admin}"> 회원 관리</a>
                    </li>
                    <li><a th:href="@{/mypage/info}">정보수정</a></li>
                    <li><a th:href="@{/mypage/wlist}">작성 글 보기</a></li>
                    <li><a th:href="@{/mypage/rlist}" class="nowpage">작성 댓글 보기</a></li>
                </ul>
            </nav>
            <article id="content">
                <h2> 댓글 내역 보기 </h2>
                <ul th:each="item:${list}">
                    <li>
                        <span th:text="${item.frcontent}" class="span-1"></span>
                        <span th:text="${#temporals.format(item.frUpdateDate,'yy.MM.dd HH:mm')}" class="span-2"></span> <br>
                        <img src="/img/mypage/rep_board.png" alt="rep_board" class="img-1">
                        <span th:text="|(${item.cate})|" class="span-3"></span>
                        <a th:href="@{|/edudetail/${item.fid}|}">
                        <span th:text="${item.title}" class="span-4"></span>
                        </a>
                    </li>

                    <li th:if="${item == '' || item == null || item.isEmpty()}">
                        <p>작성한 댓글이 없습니다.</p>
                    </li>
                </ul>
            </article>
        </div>
    </div>

    <!-- 모달창 -->
    <div id="modalContainer" class="hidden">
        <div id="modalContent">
            <form>
                <ul>
                    <li class="modal-li-1">
                        <h2>프로필 이미지 변경하기</h2>
                        <p class="modalClose">X</p>
                    </li>
                    <li class="modal-li-2">
                        <p> 나를 소개하는 이미지를 넣어주세요. </p>
                    </li>
                    <li class="modal-li-3">
                        <!-- 임시로 넣어둠 -->
                        <img id="modal-img" th:src="'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/profile/' + ${result.profile}">
                    </li>
                    <li class="modal-li-4"> <!--일단 닉네임 성공시키고 하기 => s3 연동해서... 가능? ㅎ-->
                        <label th:for="profile">이미지</label>
                        <input type="file" th:id="profile" th:name="profile">
                    </li>
                    <!--<li class="modal-li-4">
                        <label for="profile">이미지</label>
                        <input type="file" id="profile" name="profile">
                    </li>-->
                    <li class="modal-li-5">
                        <label th:for="nickname">닉네임</label>
                        <input type="text" th:id="nickname" th:name="nickname" th:value="${result.nickname}">
                    </li>
                    <li class="modal-li-6">
                        <button type="submit" id="submit"> 저장하기 </button>
                        <button type="reset"> 취소하기 </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>
</html>