

@font-face {
    font-family: 'chab';
    src: url("../../font/index/chab.ttf") format('truetype');
}

@font-face {
    font-family: 'omyu_pretty';
    src: url("../../font/index/omyuPretty.ttf") format('truetype');
}

@font-face {
    font-family: 'bmjua';
    src: url("../../font/index/bmjua.ttf") format('truetype');
}


/* 첫번째 메인 섹션 시작 */
#main1{
    width: 100%;
    height: 85vh;
    background-color: #B6BEED;
}

#text_box{
    position: absolute;
    left: 10vw;
    /*top: 20vh;*/
    bottom: 40vh;
    color: white;
    text-align: center;
}

#text_box h5{
    font-family: omyu_pretty;
    font-size: 2.5vw;

}

#text_box h1{
    font-family: chab;
    font-weight: lighter;
    font-size: 5.5vw;
    margin-bottom: 5px;
}

#text_box a{
    font-family: omyu_pretty;
    font-size: 1.8vw;
    /*font-size: clamp(3px, 1.2vw, 30px);*/
    padding: 1vw;
    width: 10vw;
    border-radius: 3vw;
    background-color: #9BA2D7;
    margin: 0 auto;
    position: relative;
    top: 1.5vw;
    color: white;
}
#text_box h6 {
    font-size: 1.8vw;
}

#window{
    width: 29vw;
    max-width: 400px;
    position: absolute;
    bottom: 28vh;
    right: 19vw;
}

#cat{
    width: 27vw;
    max-width: 400px;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}
/* 첫번째 메인 섹션 끝 */


/* 두번째 메인 섹션 시작 */
#main2{
    width: 100%;
    height: 120vh;
    background-color: #D7DDF7;
    /*overflow: hidden;*/
}

#ball{ /* 회전하는 공 */
    width: 7.5vw;
    max-width: 120px;
    animation: rotate 2s ease-out forwards;
    transform-origin: center; /* 회전 중심을 이미지의 중심으로 설정 */
}

#ball_box{ /* 공을 담은 상자를 왼쪽으로 이동 */
    position: absolute;
    bottom: 4vh;
    right: 15vw;
    animation: moveLeft 2s ease-out forwards;
}

#line{ /* 풀리는 실 */
    position: absolute;
    height: 0.7vw;
    background-color: #C5C5FF;
    left: 80vw;
    bottom: 4.8vh;
    border-radius: 1.5vw;
    animation: grow 2s ease-out forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-270deg); /* 3번 회전 (90*3) */
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30vw); /* 왼쪽으로 30vw 만큼 이동*/
    }
}

@keyframes grow {
    0% {
        width: 0;
        transform: translateX(0);
    }
    100% {
        width: calc(0px + 30vw); /* 너비가 30vw 만큼 늘어남 */
        transform: translateX(-30vw); /* 왼쪽으로 30vw 만큼*/
    }
}

/*광고 영역 시작*/
.ad_container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 15vh 0 20px 0;

}
.ad_container h1{
    font-family: chab;
    font-weight: lighter;
    font-size: 3rem;
}

.add_box{
    width: 50%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    position: relative;
    padding: 30px;
    z-index: 2;
}

.ad_player{
    position:relative;
    height:0;
    padding-bottom:56.25%;
}

.ad_player iframe{
    border-radius: 30px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*광고 영역 끝*/

/*데코 영역 시작*/

#main2 .bottom_deco{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -105%;
}

.waves { /*실타래 파도 영역*/
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

/* 실타래 파도 Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/* 실타래 파도 Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
}

/*데코 영역 끝*/


/* 두번째 메인 섹션 끝 */


/* 세번째 메인 섹션 시작 */
#main3{
    width: 100%;
    height: 70vh;
    background-color: #B6BEED;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main3 .left_section{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: bmjua;
}

.left_section h2{
    padding: 8px;
    background: #A6AED5;
    width: 100px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 15px;
}
.left_section h1{
    font-family: chab;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 15px;
}
.left_section h3{
    font-size: 2rem;
    margin-bottom: 15px;
    line-height: 45px;
}
#img1{
    width: 250px;
}

#main3 .right_section{
    padding: 70px 0 0 70px;
    align-content: center;
}

.img_box{
    background: white;
    border-radius: 40px;
    width: 25vw;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 450px;
}

.img_box>div{
    background: lightgrey;
    border-radius: 40px;
    margin: 30px;
    width: 100%;
    height: 82%;
}

/* 세번째 메인 섹션 끝 */

/* 네번째 메인 섹션 시작 */
#main4{
    width: 100%;
    height: 70vh;
    background-color: #B6BEED;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#img2{
    width: 250px;
}

#main4 .left_section{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: bmjua;
}


#main4 .right_section{
    padding: 70px 70px 0 0;
    align-content: center;
}

/* 네번째 메인 섹션 끝 */

/* 다섯번째 메인 섹션 시작 */
#main5{
    width: 100%;
    height: 70vh;
    background-color: #B6BEED;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}
#main5 .left_section{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: bmjua;
}
#main5 .right_section{
    padding: 70px 0 0 70px;
    align-content: center;
}

#img3{
    width: 250px;
}
/* 다섯번째 메인 섹션 끝 */

/* 여섯번째 메인 섹션 시작 */
#main6{
    width: 100%;
    height: 150vh;
    background-color: #D7DDF7;
    position: relative;
    overflow: hidden;
}

#main6 .top_deco{
    width: 100%;
    position: absolute;
    top: 0;
}

#main6 .bottom_deco{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#foot_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

#foot1{
    width: 20%;
    animation: float 4s ease-in-out infinite;
}
#foot2{
    width: 18%;
    animation: float 4s ease-in-out infinite;
    animation-delay: 1s;
}
#foot3{
    width: 18%;
    animation: float 4s ease-in-out infinite;
    animation-delay: 2s;
}
#foot4{
    width: 16%;
    animation: float 4s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


#main6 .cat_foot{
    position: absolute;
    bottom: -6%;
    z-index: 1;
}

#foot_deco{
    width: 100%;
}

#text_box2{
    padding: 5vw 0 0 0;
}

#text_box2 h1{
    font-family: chab;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    font-size: 4rem;
    font-weight: lighter;
}

#board_kind_box{
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.board_kind{
    width: 35vw;
    height: 25vw;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    margin: 35px 15px;
    z-index: 2;
    position: relative;
    max-width: 450px;
    max-height: 350px;
}

/* 여섯번째 메인 섹션 끝 */

/*섹션 박스 위로 올라오는 애니메이션*/

.section_box {
    /* 기본적인 스타일 */
    opacity: 0; /* 초기에는 투명하게 설정 */
    transform: translateY(100px); /* 아래에서 위로 50px 만큼 이동 */

    /* 트랜지션 */
    transition: opacity 0.7s ease, transform 0.7s ease; /* 변경 사항에 대한 애니메이션 지정 */
}

.section_box.show {
    opacity: 1; /* 보이게 만듦 */
    transform: translateY(0); /* 이동하지 않음 */
    position: relative;
    z-index: 2;
}