<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <link rel="stylesheet" href="/css/infoboard/writeform.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>


</head>
<body>
<div id="write_box">

    <form id="writeForm" method="post" th:action="@{/writeEdu}">
        <input type="hidden" th:name="sessionId" th:value="${user.uid}">
        <input type="hidden" th:name="writer" th:value="${user.nickname}">
        <input type="hidden" th:name="count" th:value="${dto.count}">

        <input type="hidden" th:name="kind" th:value="e">

        <ul>
            <li>
                <select th:id="cate" th:name="cate">
                    <option th:value="뉴스" th:selected="뉴스">뉴스</option>
                    <option th:value="초등">초등</option>
                    <option th:value="중등">중등</option>
                    <option th:value="고등">고등</option>
                    <option th:value="학원추천">학원추천</option>
                </select>
                <input type="text" th:name="title" th:id="title" placeholder="제목을 입력하세요.">
            </li>
            <li>
                <textarea id="summernote" th:name="content"></textarea>
            </li>
            <li>
                <button type="submit" id="btn"> 등록하기</button>
            </li>
        </ul>
    </form>
</div>

<script>
    let uploadedImages = []; //업로드 한 이미지를 임시 보관할 배열
    let isFormSubmitting = false; // 폼 제출 여부 플래그

    $('#summernote').summernote({
        placeholder : '작성할 글 내용을 입력하세요.',
        tabsize : 2,
        width: 800,
        height: 400,
        minHeight : 300,
        maxHeight : 300,
        disableResizeEditor : true,
        lang : 'ko-KR',
        toolbar : [
            ['style', ['style'] ],
            ['fontsize', ['fontsize']],
            ['font',['bold','italic','underline','strikethrough','clear']],
            ['color',['color']],
            ['para',['paragraph']],
            ['height',['height']],
            ['table',['table']],
            ['insert',['picture','link','hr']],
            ['view',['codeview']]],
        fontSizes : ['8','10','12','14','16','18','20','22','24','28','30','36','50','72'],
        lineHeights : ['0.2','0.3','0.4','0.5','0.6','0.8','1.0','1.2','1.4','1.5','2.0','3.0'],

        callbacks : { // 사진 여러 개 처리하려면 1개가 아니라 for문 돌려서 처리해야 함
            onImageUpload : function(files) {
                for (let i = 0; i < files.length; i++) {
                    uploadSummernoteImageFile(files[i], this);
                }
            },
            onMediaDelete : function(target) {
                deleteSummernoteImageFile(target[0].src);
            }
        }
    });

    function uploadSummernoteImageFile(file, editor) {
        let formData = new FormData();
        formData.append("multipartFiles", file);

        fetch('/file/uploadImageFile/edu', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('업로드 실패');
                }
                return response.json();
            })
            .then(data => {
                if (data && data.length > 0) {
                    let imageUrl = data[0];
                    $(editor).summernote('insertImage', 'https://kdt-java5-2.s3.ap-northeast-2.amazonaws.com/' + encodeURIComponent(imageUrl));
                    uploadedImages.push(imageUrl.replace('/','%2F')); //이미지 업로드 시 임시 배열에 추가
                    console.log(data)
                } else {
                    alert('업로드 실패');
                }
            })
            .catch(error => {
                console.error("업로드 실패", error);
            });
    }

    function deleteSummernoteImageFile(imageUrl) {
        const fileName = imageUrl.split('/').pop();

        fetch(`/file/deleteImageFile?fileName=${fileName}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('삭제 실패');
                }
                return response.text();
            })
            .then(data => {
                console.log(`Deleted: ${data}`);
            })
            .catch(error => {
                console.error("삭제 실패", error);
            });
    }

    window.addEventListener('beforeunload', function (e) { //페이지 이동 시 이벤트
        if (!isFormSubmitting) { // 폼 제출 시에는 실행하지 않음
            uploadedImages.forEach(imageUrl => {
                deleteSummernoteImageFile(imageUrl); //페이지 떠나면 기존에 업로드 했던 사진들 삭제
            });
        }
    });

    document.getElementById('writeForm').addEventListener('submit', function() {
        isFormSubmitting = true; // 폼 제출 중임을 표시
    });
</script>
</body>
</html>