<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/freeboard/freeboard.css}">
    <script th:src="@{/js/board/board.js}"></script>
</head>
<body>

<section id="eduBoard">
    <div th:text="${sessionId}"></div>
    <!--사이드 메뉴-->
    <section id="sideMenu">
        <aside>
            <h3>카테고리</h3>
            <ul>
                <li><a href="/eduboard?search=cate&searchTxt=뉴스">뉴스</a></li>
                <li><a href="/eduboard?search=cate&searchTxt=초등">초등학교</a></li>
                <li><a href="/eduboard?search=cate&searchTxt=중등">중학교</a></li>
                <li><a href="/eduboard?search=cate&searchTxt=고등">고등학교</a></li>
                <li><a href="/eduboard?search=cate&searchTxt=학원">학원추천</a></li>
            </ul>
        </aside>
        <aside>
            <h3>조회수</h3>
            <ul th:each="i:${hotList}">
                <li><a th:href="@{|/edudetail/${i.fid}|}" th:text="${i.title}"></a></li>
            </ul>
        </aside>
        <aside>
            <h3>좋아요</h3>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </aside>
    </section>

    <!--게시판 리스트-->
    <section id="eduBoardList">

        <form method="get" th:action="@{/eduboard}">
            <select name="search">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
                <option value="cate">카테고리</option>
            </select>
            <input type="text" name="searchTxt">
        </form>

        <button type="button" th:id="write_btn">글쓰기</button>

        <ul th:each="i:${boardList}">
            <a th:href="@{|/edudetail/${i.fid}|}">
                <li th:text="|${i.cate}|"></li>
                <li th:text="|${i.title}|"></li>
                <li th:text="|작성자: ${i.writer}|"></li>
                <li th:text="|${#temporals.format(i.createDate, 'yyyy-MM-dd')}|"></li>
                <li th:text="|조회수: ${i.count}|"></li>
            </a>
        </ul>

        <!-- 페이징 -->
        <div id="page">
            <th:block th:if="${startPage>1}">
                <a th:href="@{/eduboard(page=${startPage}-1,search=${search},searchTxt=${searchTxt})}" th:text="이전"></a>
            </th:block>

            <th:block th:if="${startPage<=endPage}">
                <th:block th:each="index:${#numbers.sequence(startPage, endPage)}">
                    <span th:if="${index == boardList.pageable.getPageNumber()+1}" th:text="${index}"></span>
                    <span th:if="${index != boardList.pageable.getPageNumber()+1}">
                <a th:href="@{/eduboard(page=${index},search=${search},searchTxt=${searchTxt})}" th:text="${index}"></a>
            </span>
                </th:block>
            </th:block>

            <th:block th:if="${endPage < boardList.getTotalPages()}">
                <a th:href="@{/eduboard(page=${endPage}+1,search=${search},searchTxt=${searchTxt})}" th:text="다음"></a>
            </th:block>
        </div>
    </section>

</section>


</body>
</html>