<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/freeboard/freeboard.css}">
    <script th:src="@{/js/board/reply.js}"></script>
    <script th:src="@{/js/board/love.js}"></script>
</head>
<body>

<div id="eduDetail" th:each="i:${list}">

    <section id="eduBoardDetail">

        <ul id="writer_info">
            <li th:text="${i.profile}"></li>
            <li th:text="${i.title}"></li>
            <li th:text="|작성자  ${i.writer}|"></li>
        </ul>

        <ul id="setting">
            <li><a th:href="@{/qna}">문의하기</a></li>
            <li>수정</li>
            <li>삭제</li>
        </ul>

        <section id="content">
            <th:block th:utext="${i.content}"></th:block>
        </section>

    </section>

    <button type="button" id="love_btn">좋아요</button>

    <section id="replySection">

        <ul th:id="reply_insert">
            <li>
                <input type="text" name="rep_content" id="rep_content">
                <input type="hidden" name="fid" id="fid" th:value="${i.fid}">
                <input type="hidden" name="sessionId" id="sessionId" th:value="${sessionId}">
                <button type="button" id="append">댓글 추가</button>
            </li>
        </ul>

        <ul th:id="replyList">
        </ul>

    </section>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function (){
        init([[${i.fid}]])
    })
</script>

</div>

</body>
</html>