<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/freeboard/freeboard.css}">
    <script th:src="@{/js/board/boardDetail.js}"></script>
</head>
<body>

<div id="eduDetail">

    <section id="eduBoardDetail">

        <ul id="writer_info">
            <li th:text="${dto.profile}"></li>
            <li th:text="${dto.title}"></li>
            <li th:text="|작성자  ${dto.writer}|"></li>
        </ul>

        <div id="option_toggle"></div>

        <ul id="setting">
            <li>
                <div id="qna_img"></div>
                <button type="button" th:id="qna_btn">문의하기</button>
            </li>
            <li>
                <div id="mod_img"></div>
                <button type="button" th:id="mod_btn">수정하기</button>
            </li>
            <li>
                <div id="del_img"></div>
                <button type="button" th:id="boardDel_btn">삭제하기</button>
            </li>
        </ul>

        <section id="content">
            <th:block th:utext="${dto.content}"></th:block>
        </section>

    </section>

    <div id="like_img"></div>
    <button type="button" id="like_btn">좋아요</button>

    <section id="replySection">

        <ul th:id="reply_insert">
            <li>
                <input type="text" name="rep_content" id="rep_content">
                <input type="hidden" name="fid" id="fid" th:value="${dto.fid}">
                <input type="hidden" name="sessionId" id="sessionId" th:value="${sessionId}">
                <button type="button" id="append">댓글 추가</button>
            </li>
        </ul>

        <ul th:id="replyList">
        </ul>

    </section>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function (){
        init([[${dto.fid}]])
    })
</script>

</div>

</body>
</html>