.join_wrap{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.join_wrap ul{
    padding: 0;
}
.join_wrap ul li{
    list-style: none;
}

.join_form ul img{
    width: 170px;
    padding-bottom: 40px;
}

.join_form{
    margin: auto;
    padding: 50px 0px;
    width: 500px;
    border-radius: 25px;
    box-shadow: rgba(182, 190, 237, 1) 0px 5px 15px;
}

.join_box{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 50%;
}

.join_title{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 7px;
    width: 100%;
    text-align: left;
}

.join_input{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    height: 35px;
}

.join_input:focus{
    border-bottom: 2px solid #9BA2D7;
    outline: none;
}




/* 우편번호 찾기 */
.find_post{
    border: 2px solid #F4EBF3;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    padding: 5px 3px;
}
.find_post:hover{
    background-color: #F9E8F7;
}
.find_post:active{
    background-color: transparent;
}
.juso_input{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.juso_input3{
    display: flex;
    flex-direction: row;
}
.juso_input1, .juso_input2, .juso_input33, .juso_input44{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
}
.juso_input33{
    margin-right: 5px;
}




/* 중복체크 */
.join_idCK{
    display: flex;

}

.idCk_btn{
    border: 2px solid #F4EBF3;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0px 5px;
}
.idCk_btn:hover{
    background-color: #F9E8F7;
}
.idCk_btn:active{
    background-color: transparent;
}
#check{
    height: 16px;
}




/* 가입하기 버튼 */
.join_btn{
    background-color: #F4EBF3;
    font-size: 1rem;
    border: none;
    padding: 5px 0px;
    margin: 15px 0px;
    width: 250px;
    border-radius: 30px;
}

.join_btn:hover{
    background-color: #DBBCD7;
}

.join_btn:active{
    background-color: #F4EBF3;
}
