<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <header>
        <span class="header_01">
            <a href="/index">
                <img class="header_img" src="/img/index/logo.png" alt="로고 이미지">
            </a>
        </span>

        <span class="header_02">
            <a class="menu_tab" th:href="@{/comboard}">교육/정보</a>
            <a class="menu_tab" href="#">일상/소통</a>
            <a class="menu_tab" href="#">문의하기</a>
            <a class="menu_tab" href="#">공지사항</a>
            <a class="menu_tab" href="#">마이페이지</a>
            <a class="menu_tab" id="login_btn" th:href="@{/login}">로그인</a>
            <!--        <a class="menu_tab" id="logout_btn" href="#">로그아웃</a>-->
        </span>
    </header>
</body>
</html>