<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/error/error.css}">
</head>
<body>
    <div id="error_wrap">

        <div id="text_box">
            <h1>ERROR</h1>
            <h2>대충 에러 메시지 이렇게 있고</h2>
            <h2>부가 적인 설명 할거면 하고</h2>
            <p>에러 메시지 예시: org.springframework.web.servlet.resource.NoResourceFoundException: No static resource qna123.</p>
        </div>

        <div id="mouse">
            <img th:src="@{/img/error/mouse.gif}">
        </div>
    </div>

<!--<div th:text="${error_msg}">-->


</body>
</html>