/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    /*font-family: Arial, sans-serif;*/
}

/* 테이블 헤더 스타일 */
.usertitle {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    height: 30px;
    border-bottom: 2px black solid;
    border-radius: 20px;
}

/* 테이블 행 스타일 */
.userlist tr {
    border-bottom: 1px solid #ddd;
}

/* 테이블 셀 스타일 */
.userlist td {
    padding: 10px;
}

tbody td{
    text-align: center;
    padding: 5px 0;
    font-size: 1.2rem;
}
tbody tr:nth-child(odd){
    background-color: #E5E7F3;
}


.userlisttt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.userlisttt p{
    font-weight: bold;
    letter-spacing: 3px;
}

.delbtn {
    position: relative;
    display: inline-block;
    padding: 3px;
}

.delbtn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: palevioletred;
    transition: all 0.3s ease-in-out;
}

.delbtn:hover::after {
    width: 100%;
}


/*유저 검색부분*/
.usersearch{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.usersearch input, .usersearch select {
    padding: 5px 10px;
    border: 2px solid #9BA2D7;
    border-radius: 15px;
    font-size: 1rem;
    margin-right: 5px;
}
.usersearch input, .usersearch select{
    outline: none;
}

.usersearch button{
    padding: 7px 14px;
    background-color: #B6BEED;
    border-radius: 15px;
    font-size: 1rem;
    border: none;
}
.usersearch button:hover{
    background-color: #9BA2D7;
}

/*페이징*/
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin: 0 0 10% 0;
    font-size: 1.3rem;
}

.page span{
    padding-right: 10px;
}

.page a:hover{
    color: #9BA2D7;
}