

#mypage-main #content {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: 82%;*/
    width: 1100px;
    margin: 30px auto 0;
    height: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}


#mypage-main .article-1 {
    border-radius: 15px;
    width: 45%;
}

#mypage-main .article-2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mypage-main .article-2 section {
    border-radius: 15px;
    height: 39%;
}

#mypage-main .article-2-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mypage-main .article-content {
    background-color: white;
    height: calc(100% - 70px);
    overflow: scroll; /* 넘치면 스크롤 됨 */
    padding: 10px 20px 20px;
}

.article-content::-webkit-scrollbar {
    display: none;
}


#mypage-main .bap-article-content {
    background-image: url("../../img/mypage/ttttest.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 492px;
    width: 492px;
    padding-top: 13px;

    /*background-color: #FDBFC4;
    height: calc(100% - 70px);
    padding: 30px;*/
}

.mymain .qna-menu, .qna-list {
    display: flex;
    justify-content: space-between;
}

/* 간격 조정하기 */
.qna-content:nth-child(1) { flex-basis: 100px; }
.qna-content:nth-child(2) { flex-basis: 300px; }
.qna-content:nth-child(3) { flex-basis: 100px; }
.qna-content:nth-child(4) { flex-basis: 100px; }

/* qna 제목 너무 길면 ... 처리하기 */
.mymain .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 처리 비처리 색상 넣어주깅 */
.mymain .article-content .qna-list .yes {
    background-color: #B6BEED;
    border-radius: 30px;
}

.mymain .article-content .qna-list .no {
    background-color: #F4EBF3;
    border-radius: 30px;
}

.mymain .article-content-2 li{
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.mymain .article-content span {
    font-size: 18px;
}

/* 급식 정보 */
.article-1 > .article-content > span {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.school_food_result {
    padding-top: 30px;
}

.bap-content {

    background-repeat: no-repeat;
    background-size: contain;
    height: 492px;
    width: 492px;
    padding: 11px 30px;

    /*background-color: #F9F2E7;
    height: calc(100% - 40px);
    padding: 20px;
    background-image: url(../../img/mypage/backbap.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 79px;*/
}

.bap-list-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bap-list-div span {
    font-size: 20px;
}

/* 지움 */
.today-bap-p {
    font-family: bmjua;
    font-size: 40px;
    border-bottom: 1px solid black;
    padding: 0 10px;
}

.bap-img {
    position: absolute;
    left: 119px;
    bottom: 140px;
}

.yesschool {
    background-image: url(../../img/mypage/change_school.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 92px;
    height: 92px;
    position: relative;
    top: 134px;
    left: -526px;
}


.noschool {
    background-image: url(../../img/mypage/noschool.png);
    background-size: contain;
    width: 300px;
    height: 300px;
    position: relative;
    top: 140px;
    left: 100px;
}


h3 {
    font-family: bmjua;
    font-size: 28px;
    font-weight: 200;
    padding-bottom: 17px;
}

.today-css {
    font-size: 30px;
    color: white;
}

.today-css2 {
    padding-top: 74px;
    font-size: 30px;
}

.love-img {
    width: 100%;
    height: 100%;
}