

#mypage-main #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto 0;
    height: 600px;
}

#mypage-main .article-1 {
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 45%;
}

#mypage-main .article-2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mypage-main .article-2 section {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 39%;
}

#mypage-main .article-2-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mypage-main .article-content {
    background-color: white;
    height: calc(100% - 70px);
    overflow: scroll; /* 넘치면 스크롤 됨 */
    padding: 10px 20px 20px;
}

.mymain .qna-menu, .qna-list {
    display: flex;
    justify-content: space-between;
}

/* 간격 조정하기 */
.qna-content:nth-child(1) { flex-basis: 100px; }
.qna-content:nth-child(2) { flex-basis: 300px; }
.qna-content:nth-child(3) { flex-basis: 100px; }
.qna-content:nth-child(4) { flex-basis: 100px; }

/* qna 제목 너무 길면 ... 처리하기 */
.mymain .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 처리 비처리 색상 넣어주깅 */
.mymain .article-content .qna-list .yes {
    background-color: #B6BEED;
    border-radius: 30px;
}

.mymain .article-content .qna-list .no {
    background-color: #F4EBF3;
    border-radius: 30px;
}

.mymain .article-content-2 li{
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.mymain .article-content span {
    font-size: 18px;
}

/* 급식 정보 */
.article-1 > .article-content > span {
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.school_food_result {
    padding-top: 30px;
}

.bap-content {
    background-color: #F9F2E7;
}