#container #content {
    width: calc(85% - 78px);
    background-color: white;
    margin: 20px auto;
    border-radius: 15px;
    padding: 20px 40px;
    text-align: left;
}

#container #content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #A8A8A8;
    padding-bottom: 10px;
}

input[type = text]:focus, input[type = password]:focus, input[type = submit]:focus {
    box-shadow:none;
    border: none
}
input:focus, textarea:focus {
    outline: none;
}

#content li {
    width: 372px;
    padding: 20px 0 6px;
}

#content li label{
    position: absolute;
    left: 190px;
}

#content input:not(.not_input){
    border: none;
    margin-left: 50px;
    border-bottom: 1px solid black;
    padding-left: 113px;
    padding-bottom: 10px;
    width: 208px;
}

.not_input{
    border: none;
    margin-left: 158px;
    border-bottom: 1px solid black;
    /* padding-left: 113px; */
    padding-bottom: 10px;
    width: 215px;
}

#content input:focus, .not_input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .6); !important;
}

.info-addr {
    margin-left: 77px;
}
