/* 모달창 */
#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#modalContent {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    padding: 15px;
}

#modalContainer.hidden {
    display: none;
}


#modalContainer ul li:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modalContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#modalContainer .modalClose {
    cursor: pointer;
}

#modalContainer .modal-li-3 {
    text-align: center;
    background-image: url(../../img/mypage/profile.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#modalContainer .modal-li-4 {
    margin: 25px 0 10px;
}

#modalContainer .modal-li-5 {
    margin-bottom: 38px;
}

#modalContainer .modal-li-6 button  {
    border: 1px solid;
    background-color: white;
    padding: 5px 50px;
    border-radius: 30px;
}

#modalContainer input {
    font-size: 15px;
    color: #222222;
    width: 237px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    background: none;
}