/* 마이페이지 공통 */
@font-face {
    font-family: 'omyu_pretty';
    src: url("../../font/index/omyuPretty.ttf") format('truetype');
}

@font-face {
    font-family: 'chab';
    src: url("../../font/index/chab.ttf") format('truetype');
}

@font-face {
    font-family: 'bmjua';
    src: url("../../font/index/bmjua.ttf") format('truetype');
}

ul li {
    list-style: none;
}

.top-profile {
    background-image: url("../../img/mypage/profile.png");
    background-size: cover;
}

#mypage-main p, #mypage-main  a {
    font-size: 20px;
}

#mypage-main {
    background-color: #D8DEF7;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;

    /*background-image: url("../../img/mypage/cats_bg4.png");
    background-size: cover;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;*/
}
/* 프로필 부분 */
#mypage-main  #profile_top {
    z-index: 2;
}

#mypage-main  #profile_top > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* 전체 컨테이너 */
#mypage-main #container {
    border-radius: 15px;
    margin: 0 auto;
    /*background-color: rgba(255, 255, 255, 0.7);*/
    width: 60%;
    padding-top: 130px;
    padding-bottom: 30px;
    position: relative;
    bottom: 112px;
}

/* 전체 컨테이너 - 메뉴 */
#mypage-main nav {
    margin: 0 auto;
    /*width: 85%;*/
    width: 1140px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;

    /*margin: 0 auto;
    width: 85%;
    background-color: #B6BEED;
    border-radius: 40px;*/

}

#mypage-main nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#mypage-main nav ul li:not(:last-child) {
    padding-right: 100px;
}

/* 현재페이지 */
.nowpage {
    font-weight: bolder;
}