*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

#eduBoard {
    display: flex;
    flex-direction: row;
}

aside {
    border: 1px solid silver;
    margin: 20px 0;
}

#sideMenu{
    height: 50vh;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

#eduBoardList{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

#eduBoardList ul {
    border: 1px solid silver;
    margin: 20px;
}

#eduBoardList ul a:hover {
    color: #9BA2D7;
}

#page{
    justify-content: center;
    display: flex;
    margin: 20px 0;
}

#page a{
    padding: 0 10px;

}

#page a:hover{
    color: #9BA2D7;
}

#eduDetail{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    height: 100vh;
    margin: 0 20vw;
}

#eduBoardDetail{
    position: relative;
}

#writer_info{
    border: 1px solid silver;
}

#content{
    border: 1px solid silver;
}

#rec_btn{
    margin: 20px 0;
    width: 100px;
    position: relative;
}

#replySection{
    display: flex;
    flex-direction: column;
}

#replySection ul{
    list-style: none;
}

#replyList{
    border: 1px solid silver;
}
