*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

#eduDetail_wrap{
    width: 100%;
    height: 120vh;
    background-image: url("../../img/infoboard/mycat_bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#eduDetail{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 30px 50px 30px 50px;
    border-radius: 60px;
    border: 3px solid #B6BEED;
}

#eduBoardDetail{
    position: relative;
}
#prev_page{
    font-size: 2rem;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

#prev_page a{
    display: inline-block;
    color: #B6BEED;
}

#detail_util{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

#profile{
    width: 70px;
    height: 70px;
}
#profile img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.cate_title1{
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #E9E7E6;
    display: inline-block;
}
.cate_title2{
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #FEF8C8;
    display: inline-block;
}
.cate_title3{
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #FEE5E2;
    display: inline-block;
}
.cate_title4{
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #EBEAF3;
    display: inline-block;
}
.cate_title5{
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    background-color: #DAF0F4;
    display: inline-block;
}

#writer_info{
    position: relative;
    font-size: 1.3rem;
    margin-left: 10px;
}
#writer_info h3{
    font-size: 2rem;
}
#writer_info #title{
    display: inline-block;
}
#writer_info #writer{
    margin: 10px 5px;
}

#option_toggle{
    width: 70px;
    height: 70px;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 25px;
    margin-left: auto;
}

#option_toggle img{
    transition: transform 0.1s ease;
    width: 40px;
}
#option_toggle img:active {
    transform: rotate(60deg);
}
#option_toggle img:hover {
    cursor: pointer;
}
#check-btn { display: none; }
#check-btn:checked ~ #setting { display: block; }

#setting {
    display: none;
    position: relative;
    right: 45px;
    border-radius: 10px;
}
#setting button{
    padding: 0 0 0 20px;
}

#setting li{
    margin: 5px 0;
}

#setting img{
    width: 20px;
}

#qna_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/inquiry.png);
    background-size: cover;
    position: absolute;
    margin: 3px 5px;
}

#mod_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/note.png);
    background-size: cover;
    position: absolute;
    margin: 3px;
}

#del_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/trash.png);
    background-size: cover;
    position: absolute;
    margin: 3px;
}

#content{
    min-height: 40vh;
    border: 2px solid #F4EBF3;
    border-radius: 15px;
    padding: 10px;
    background-color: #F4EBF3;
    overflow: scroll;
    overflow-x: hidden;
    height: 40vh;
}

#like{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
#like_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/heart.png);
    background-size: cover;
    display: inline-block;
    position: relative;
    left: 35px;
    margin: 3px 5px;
    z-index: 0;
    top: 20px;
}
#like_btn{
    padding: 0 0 0 20px;
    width: 100px;
    position: relative;
    background-color: transparent;
    color: black;
    border: 2px solid pink;
    top: 20px
}

#replySection{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#replySection ul{
    list-style: none;
}

#reply_insert{
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

#reply_insert li{
    position: relative;
    top: 10px;
}

#reply_insert input{
    width: 70%;
    background-color: #F4EBF3;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

input:focus{
    outline: #B6BEED;
}


#replyList{
    border-radius: 15px;
    padding: 10px 10px 17px 10px;
    background-color: #F4EBF3;
    margin: 10px 0;
    overflow: scroll;
    overflow-x: hidden;
    height: 25vh;
}
.scrollBar::-webkit-scrollbar {
    width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
    height: 30%;
    background: rgba(182,190,237,0.4);
    border-radius: 10px;
}
.scrollBar::-webkit-scrollbar-track {
    background: rgba(215,221,247,0.3);
    border-radius: 50px;
    margin: 10px 0;
}

#replyList ul{
    border-bottom: 1px solid #B6BEED;
}

#replyList ul li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;

}

#reply_count{
    margin: 15px 0 0 10px;
}

#replyList #del_btn{
    width: 80px;
    position: relative;
    top: 25px;
}

button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #B6BEED;
    border: #B6BEED;
    border-radius: 15px;
    font-size: 1.1rem;
}

button:hover{
    cursor: pointer;
    background-color: #9BA2D7;
}

footer{
    background: #ADBFFA;
    color: white;
}