*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

#eduDetail_wrap{
    width: 100%;
    height: 100vh;
    background-image: url("../../img/infoboard/mycat_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#eduDetail{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 12vh;
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 50px;
    border-radius: 60px;
    border: 3px solid lightblue;
}

#detail_util{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

#eduBoardDetail{
    position: relative;
}

#profile{
    width: 70px;
    height: 70px;
}
#profile img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
#writer_info{
    position: relative;
    font-size: 1.3rem;
    margin-left: 10px;
}

#option_toggle{
    width: 70px;
    height: 70px;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 25px;
    margin-left: auto;
}

#option_toggle img{
    transition: transform 0.1s ease;
    width: 40px;
}
#option_toggle img:active {
    transform: rotate(60deg);
}
#option_toggle img:hover {
    cursor: pointer;
}
#check-btn { display: none; }
#check-btn:checked ~ #setting { display: block; }

#setting {
    display: none;
    position: relative;
    right: 45px;
    border-radius: 10px;
}
#setting button{
    padding: 0 0 0 20px;
}

#setting li{
    margin: 5px 0;
}

#setting img{
    width: 20px;
}

#qna_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/inquiry.png);
    background-size: cover;
    position: absolute;
    margin: 3px 5px;
}

#mod_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/note.png);
    background-size: cover;
    position: absolute;
    margin: 3px;
}

#del_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/trash.png);
    background-size: cover;
    position: absolute;
    margin: 3px;
}

#content{
    min-height: 40vh;
    border: 2px solid #F4EBF3;
    border-radius: 15px;
    padding: 10px;
    background-color: #F4EBF3;
}

#like{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#like_img{
    width: 25px;
    height: 25px;
    background-image: url(../../img/freeboard/heart.png);
    background-size: cover;
    display: inline-block;
    position: relative;
    left: 35px;
    margin: 3px 5px;
    z-index: 0;
}
#like_btn{
    padding: 0 0 0 20px;
    width: 100px;
    position: relative;
    background-color: transparent;
    color: black;
    border: 2px solid pink;
}

#replySection{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#replySection ul{
    list-style: none;
}

#reply_insert{
    border: 2px solid #F4EBF3;
    border-radius: 15px;
    padding: 10px;
    background-color: #F4EBF3;
    margin: 10px 0;
    text-align: center;
}

#reply_insert input{
    width: 65%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #B6BEED;
    background-color: #F4EBF3;
    font-size: 1.2rem;
}

input:focus{
    outline: #B6BEED;
}


#replyList{
    border-radius: 15px;
    padding: 10px 10px 17px 10px;
    background-color: #F4EBF3;
    margin: 10px 0;
}
#replyList ul{
    border-bottom: 1px solid #B6BEED;
}

#replyList ul li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#replyList li span{
}

#replyList #del_btn{
    width: 80px;
}

button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #B6BEED;
    border: #B6BEED;
    border-radius: 15px;
    font-size: 1.1rem;
}

button:hover{
    cursor: pointer;
    background-color: #9BA2D7;
}

footer{
    background: #ADBFFA;
    color: white;
}