*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

#utility{
    display: flex;
    justify-content: space-between;
}

#eduBoard {
    display: flex;
    flex-direction: row;
    margin: 0 150px;
    height: 80vh;
}

#eduBoardList{
    position: relative;
    top: 105px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 165px;
    height: 50vh;
}

#eduBoardList ul {
    border-bottom: 1px solid #9BA2D7;
    padding: 15px;
    margin: 15px 0;
}

#eduBoardList ul a:hover {
    color: #9BA2D7;
}

#sideMenu{
    margin: 10px 20px;
    position: fixed;
    top: 75px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;.
}

aside {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #F4EBF3;
    border-radius: 15px;
    background: #F4EBF3;
}

aside h3{
    margin: 5px 0;
}

aside ul li a:hover{
    color: #9BA2D7;
}

input, select {
    padding: 5px 10px;
    border: 2px solid #9BA2D7;
    border-radius: 15px;
}

input:focus, select:focus{
    outline: none;
}

form{

}

#write_btn {
    width: 100px;
    color: white;
    background-color: #B6BEED;
    border-color: #B6BEED;
    border-radius: 15px;
    padding: 5px 10px;
    position: relative;
}

#write_btn:hover{
    color: black;
    background-color: white;
    border-color: white;
}

#page{
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
}
#page span{
    margin-right: 10px;
}

#page a{
}

#page a:hover{
    color: #9BA2D7;
}