<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/infoboard/infoboard.css}">
</head>
<body>

<div id="wrap">

    <div class="board_box">
        <h1>공지 사항</h1>
        <!--검색창-->
        <form action="/notice" method="get">
            <input type="hidden" name="page" value=${endPage}>
            <select name="search">
                <option value="cate">카테고리</option>
                <option value="title">글제목</option>
                <option value="content">글내용</option>
            </select>
            <input type="text" name="searchtxt">
            <button type="submit">검색</button>
        </form>

        <a href="#">글쓰기</a>

        <!--글목록-->

        <ul>
            <li>
                <span>NO</span>
                <span>카테고리</span>
                <span>제목</span>
                <span>작성자</span>
                <span>작성일</span>
            </li>
            <th:block th:each="item: ${noticeList}">
                <li>
                    <span th:text="${item.iid}"></span>
                    <span th:text="${item.cate}"></span>
                    <span th:text="${item.title}"></span>
                    <span th:text="관리자"></span>
                    <span th:text="${#temporals.format(item.createDate,'yyyy-MM-dd HH:mm')}"></span>
                </li>
            </th:block>
        </ul>


        <!--페이지네이션-->
        <div>
            <th:block th:if="${startPage>1}">
                <a th:href="@{/notice(page=${startPage}-1,search=${search},searchtxt=${searchtxt})}" th:text="이전"></a>
            </th:block>

            <th:block th:each="index: ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${index==noticeList.pageable.getPageNumber()+1}"
              th:text="${index}">
        </span>
                <th:block th:if="${index!=noticeList.pageable.getPageNumber()+1}">
                    <a th:href="@{/notice(page=${index},search=${search},searchtxt=${searchtxt})}">
                        <span th:text="${index}"/>
                    </a>
                </th:block>
            </th:block>

            <th:block th:if="${endPage<noticeList.getTotalPages()}">
                <a th:href="@{/notice(page=${endPage}+1,search=${search},searchtxt=${searchtxt})}" th:text="다음"></a>
            </th:block>
        </div>
    </div>

</div>

</body>
</html>